@use "pkg:purecss/build/pure-min.css";
@use "pkg:purecss/build/grids-responsive-min.css";
@use "pricing";

.pure-g {
  letter-spacing: 0;
}

.pure-form input:not(:last-child) {
  margin-right: 16px;
}

.center {
  text-align: center;
}

.widthFull {
  width: 100%;
}

.sectionMargin {
  margin-top: 36px;
  margin-bottom: 36px;
}

.footerMargin {
  margin-bottom: 240px;
}

#mapContainer {
  font-size: 24px;
  text-align: center;
}
#map {
  font-family: monospace, monospace;
  line-height: 1em;
  letter-spacing: normal;
}

.controller {
  input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 45%;
    height: 24px;
    background: #aaa;
    outline: none;
    opacity: 0.8;
    vertical-align: middle;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      width: 24px;
      height: 24px;
      background: #e80;
      cursor: pointer;
    }
  }

  input[type="number"] {
    width: 96px;
    text-align: end;
  }
}
